body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}


#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align:center;
    color: black;
    
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
    color: black;
}


#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
    
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
    color: black;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  /*color: white;*/
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#mensaje{
	font-size: 14px;
	font-weight: bold;
	color: red;
	font-weight: bold;
	margin: 1em 0;
}

/* Tables */

table.tbl_index  {
	background: #fff;
	border: 1px solid #ccc;
	border-right: 0;
	color: #333;
	margin-bottom: 10px;
}

table.tbl_index tr td {
	border-right: 1px solid #ccc;
	padding: 4px;
	/*vertical-align: top;*/
}

th{
	background: #f2f2f2;
	border: 1px solid #bbb;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: left;
}






